# Created by .ignore support plugin (hsz.mobi)
.DS_Store
.cache/
.gitignore
.idea/.gitignore
.idea/bioflows.iml
.idea/codestream.xml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/other.xml
.idea/sonarlint/
.idea/vcs.xml
.pytest_cache/
bioflows/.DS_Store
bioflows/__init__.pyc
bioflows/bioflowsutils/__init__.pyc
bioflows/bioflowsutils/utils.pyc
bioflows/bioflowsutils/wrappers.pyc
bioflows/bioflowsutils/wrappers_gatk.pyc
bioflows/bioflowsutils/wrappers_picard.pyc
bioflows/bioflowsutils/wrappers_qiime2.pyc
bioflows/bioflowsutils/wrappers_samtools.pyc
bioflows/bioutils/__init__.pyc
bioflows/bioutils/access_sra/__init__.pyc
bioflows/bioutils/access_sra/sra.pyc
bioflows/definedworkflows/__init__.pyc
bioflows/definedworkflows/rnaseq/__init__.pyc
bioflows/definedworkflows/rnaseq/rnaseqworkflow.pyc
docs/.DS_Store
docs/assets/ngxbio_icons_b_rna_sequencing_1_4.jpg
venv/
.idea/
venv/*
.idea/*

